node_modules
public/hot
public/storage
storage/*.key

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
blog.rar
yarn-error.log

vendor/*
lara-v1.zip
lara1.zip

# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env